<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="/css/dashboard/layoutDashboard.css">
    <link rel="stylesheet" href="@ViewBag.Styles">
    <script src="@ViewBag.Script"></script>
    <script src="https://kit.fontawesome.com/b035d81f9c.js" crossorigin="anonymous" defer></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>

<body>

<header>
    <div class="topBar">
        <img id="logoTitle" src="/img/shppingLogoName.png" alt="">
        <nav id="accountOpitions">
            <a class="accountOpitions" href="#"><i class="far fa-user-circle"></i>Minha Conta</a>
            <a class="accountOpitions" href="#"><i class="fas fa-sign-out-alt"></i>Sair</a>
        </nav>
    </div>
    <hr>
</header>

<div id="session" class="session" >
    <script>
        getSession();
    </script>
</div>

<div id="dashboard">
    @RenderBody()
</div>

<div id="taskBar">
    <nav id="options">
        <a class="option" href="/Dashboard/Order">
            <div class="optionIcon">
                <i class="fas fa-solid fa-utensils"></i>
            </div>
            <p class="descrition">Cozinha</p>
        </a>
        <a class="option" href="CustomerList">
            <div class="optionIcon">
                <i class="fas fa-user-plus"></i>
            </div>
            <p class="descrition">Clientes</p>
        </a>
        <a class="option" href="NewOrder">
            <div class="optionIcon">
                <i class="fas fa-hamburger"></i>
            </div>
            <p class="descrition">Pedido</p>
        </a>
        <a class="option" href="Inventory">
            <div class="optionIcon">
                <i class="far fa-clipboard"></i>
            </div>
            <p class="descrition">Estoque</p>
        </a>
    </nav>
    <nav id="adminOpitions">
        <a class="option" href="LoguinAdmin">
            <div class="optionIcon">
                <i class="fas fa-user-shield"></i>
            </div>
            <p class="descrition">Administrador</p>
        </a>
    </nav>
</div>

</body>
