<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="/css/management/managementLayout.css">
    <link rel="stylesheet" href="@ViewBag.Styles">
    <script src="@ViewBag.Script"></script>
    <script src="https://kit.fontawesome.com/b035d81f9c.js" crossorigin="anonymous" defer></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>

<body>

<header>
    <div class="topBar">
        <img id="logoTitle" src="/img/shppingLogoName.png" alt="">
        <h1>Administração</h1>
        <nav id="accountOpitions">
            <a class="accountOpitions" href="#"><i class="far fa-user-circle"></i>Minha Conta</a>
            <a class="accountOpitions" href="#"><i class="fas fa-sign-out-alt"></i>Sair</a>
        </nav>
    </div>
    <hr>
</header>

@* <div id="session" class="session" >
    <script>
        getSession();
    </script>
</div> *@

@RenderBody()

</body>
