@using ProjectInter.Models
@model List<Customer>

@{
    ViewBag.Title = "Point Dashboard";
    ViewBag.Styles = "/css/customer.css";
    ViewBag.Script = "/js/customerList.js";
    Layout = "/Views/Shared/_layoutDashboard.cshtml";
}

<div id="table">
    @foreach (var customer in Model)
    {     
        <div class="card">
            <div class="informationLine">
                <h2 class="clientName">@customer.Name</h2>
                <p class="idCustomer">#@customer.IdCustomer</p>
            </div>
            <div class="informationLine">
                <p class="customerAdress">@customer.Adress</p>
            </div>
            <div class="informationLine">
                <p class="customerAdressComplement">Complemento: @customer.Complemento</p>
            </div>
            <div class="informationLine">
                <p class="customerContact">@customer.Telefone</p>
            </div>
        </div>
    }
</div>