@{
    ViewBag.Title = "Point Dashboard";
    ViewBag.Styles = "/css/dashboard/newCustomer.css";
    ViewBag.Script = "/js/dashboard/newCustomer.js";
    Layout = "/Views/Shared/_layoutDashboard.cshtml";
}

<div id="table">
    <form id="formCadastro" asp-controller="Usuario" asp-action="Cadastro" method="POST">
        <div id="consumerInfo">
            <div class="formLine">
                <input id="customerName" class="formInput" type="text" placeholder="Nome" name="Name">
                <input id="customerCPF" class="formInput" type="text" placeholder="CPF" name="cpf">
            </div>
            <div class="formLine">
                <input id="customerEmail" class="formInput" type="text" placeholder="E-mail" name="Email">
                <input id="customerPhoneNumber" class="formInput" type="text" placeholder="Telefone" name="Cellphone">
            </div>
            <div class="formLine">
                <input id="CustomerPassword" class="formInput" type="text" placeholder="Senha" name="Password">
                <input id="CustomerConfirmPassword" class="formInput" type="text" placeholder="Confirmar Senha">
            </div>
        </div>
        <hr class="divForm">
        <div id="adresses">

        </div>
        <div id="formOptionsBtn">
            <div id="optionAdress">
                <span id="trash" class="btnForm trash" onclick="remove()"><i class="fas fa-trash-alt"></i></span>
                <span class="btnForm" onclick="newAdress()" >Adicionar Endereço +</span>
            </div>
            <button id="btnSubmit" class="btnForm" type="submit">Salvar <i class="far fa-save"></i></button>
        </div>
    </form>
</div>