@{
    ViewBag.Title = "Administração";
    ViewBag.Styles = "/css/management/employee.css";
    ViewBag.Script = "";
    Layout = "/Views/Shared/_layoutManagement.cshtml";
}

<div id="session">
    <div id="sessionLeft">
        <h2 class="subTitle">Funcionarios</h2>
    </div>
    <a id="OptionSession" href="NewEmployee">Novo funcionario <i class="fas fa-regular fa-user-plus"></i></a>
</div>