@{
    ViewBag.Title = "Administração";
    ViewBag.Styles = "/css/indexManagement.css";
    ViewBag.Script = "";
    Layout = "/Views/Shared/_layoutManagement.cshtml";
}

<div id="boryContainer">
    <nav class="options">
        <div class="lineOption">
            <a href="/Management/Employee" class="option">Informações de Funcionarios<i class="fas fa-portrait"></i></a>
        </div>
        <div class="lineOption">
            <a href="#" class="option">Fluxo de estoque</a>
        </div>
    </nav>
</div>