@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Point Login";
    ViewBag.Styles = "css/login/login.css";
    ViewBag.Script = "js/login/login.js";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div id="container">
    <div id="loginBox">
        <div id="left">
            <img id="logoImage" src="img/shopping.jpg" alt="Point Summer & foods">
        </div>

        <div id="right">
            <form id="formLogin" asp-controller="Login" asp-action="Index" method="POST">
                <h1 id="title">Bem-Vindo</h1>
                <div id="inputContainer">
                    <div id="emailContainer">
                        <input class="loginInput" type="email" placeholder="email" name="Email" />
                    </div>
                    <div id="passwordContainer">
                        <input id="password" class="loginInput" type="password" placeholder="senha" name="Password" /><span id="hideShowPassword" class="fas fa-eye-slash" onclick="hideShowPassword()"></span>
                    </div>
                    <button id="loginBtn" type="submit">
                        Entrar
                        <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
