@using ProjectInter.Models
@model List<Products>

@{
    ViewBag.Title = "Point Dashboard";
    ViewBag.Styles = "/css/dashboard/inventory.css";
    ViewBag.Script = "/js/dashboard/inventory.js";
    Layout = "/Views/Shared/_layoutDashboard.cshtml";
}

<div id="table">
    @foreach (var product in Model)
    {
        <div class="productCard">
            <img class="productImage" src="/uploads/@product.Image">
            <div class="productInfo">
                <h2 class="productName">@product.Name</h2>
                <hr class="productLine">
                <p>Quantidade: @product.Inventory</p>
                @{string typeProduct = product.TypeProduct.TypeProduct == 1 ? "Adicional" : "Primario";}
                <p>Tipo do Produto: @typeProduct</p>
                @{string typeUnit = product.TypeProduct.TypeUnit == 1 ? "Quantidade" : "ml";}
                <p>Medida: @typeUnit</p>
                <p>Preço: R$@product.TypeProduct.Price</p>
            </div>
        </div>
    }
</div>
