@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ProjectInter.Models.Products

@{
    ViewBag.Title = "Point Dashboard";
    ViewBag.Styles = "/css/dashboard/newProduct.css";
    ViewBag.Script = "/js/dashboard/newProduct.js";
    Layout = "/Views/Shared/_layoutDashboard.cshtml";
}

<div id="table">
    <form id="formCadastroProduct" asp-controller="Dashboard" asp-action="NewProduct"  method="POST" enctype="multipart/form-data" >
        <div class="formLine">
            <img id="productImagePreview" src="/img/camera.png" alt="Adicionar imagem" />
            <input id="productImage" asp-for="Image" accept="image/*"/>
            <div id="productInfoBox" class="formLine">
                <div class="formLine">
                <input id="productName" class="formInput" type="text" placeholder="Nome" name="Name">
                </div>
                <div class="formLine">
                    <input id="quantidade" class="formInput" type="text" placeholder="Quantidade" name="Quantity">
                    <div class="medida">
                        <label>
                            <input type="radio" name="Medida" id="ml" class="formInput">
                            ml
                        </label>
                        <label>
                            <input type="radio" name="Medida" id="quantidade" class="formInput">
                            Quantidade
                        </label>
                    </div>
                </div>
                <div class="formLine">
                        <label>
                            <input type="radio" name="Medida" id="ml" class="formInput">
                            ml
                        </label>
                        <label>
                            <input type="radio" name="Medida" id="quantidade" class="formInput">
                            Quantidade
                        </label>
                </div>
            </div>
        </div>
        <h2 class="formSubTitle">Descrição</h2>
        <div class="formLine">
            <input type="text" name="Descrição" id="description" class="formInput">
        </div>
        <div id="formOptionsBtn">
            <button id="btnSubmit" class="btnForm" type="submit">Salvar <i class="far fa-save"></i></button>
        </div>
    </form>
</div>
