@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ProjectInter.Models.Products

@{
    ViewBag.Title = "Point Dashboard";
    ViewBag.Styles = "/css/dashboard/newProduct.css";
    ViewBag.Script = "/js/dashboard/newProduct.js";
    Layout = "/Views/Shared/_layoutDashboard.cshtml";
}

<div id="table">
    <form id="formCadastroProduct" asp-controller="DashboardProducts" asp-action="NewProduct"  method="POST" enctype="multipart/form-data" >
        <div class="formLine">
            <img id="productImagePreview" src="/img/camera.png" alt="Adicionar imagem" />
            <input id="productImage" asp-for="ImageFile" accept="image/*"/>
            <div id="productInfoBox" class="formLine">
                <div class="formLine">
                    <input id="productName" class="formInput" type="text" placeholder="Nome" name="Name">
                    <input id="productPrice" class="formInput" type="text" placeholder="Preço"  asp-for="TypeProduct.Price">
                </div>
                <div class="medida">
                    <div class="radioBox">
                        <h2 class="titleRadio">Unidade medida:</h2>
                        <input type="radio" value="1" id="ml" asp-for="TypeProduct.TypeUnit">
                        <label for="ml" id="labelMl" class="formInput radioBtn">
                            ml
                        </label>
                        <input type="radio" value="2" id="medidaQuantidade" asp-for="TypeProduct.TypeUnit">
                        <label for="medidaQuantidade" id="labelQuantidade" class="formInput radioBtn">
                            Quantidade
                        </label>
                    </div>
                    <div class="radioBox">
                        <h2 class="titleRadio">Tipo produto:</h2>
                        <input type="radio" value="1" asp-for="TypeProduct.TypeProduct" id="productTypePrimario">
                        <label for="productTypePrimario" id="labelProductTypePrimario" class="formInput radioBtn">
                            Primario
                        </label>
                        <input type="radio" value="2" asp-for="TypeProduct.TypeProduct" id="productTypeAdicional">
                        <label for="productTypeAdicional" id="labelProductTypeAdicional" class="formInput radioBtn">
                            Adicional
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div id="formOptionsBtn">
            <button id="btnSubmit" class="btnForm" type="submit">Salvar <i class="far fa-save"></i></button>
        </div>
    </form>
</div>
