/* Definindo elementos do layout que n devem ser mostrados na pagina */
#changeDirection{
    display: none;
}

/* Definição da tabela de Pedidos */
#table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20%;
    padding: 60px 0 0 0;
    width: auto;
}

/* Definição IDs e Classes dos cards da dashboard */
.card{
    width: 100%;
    margin: 10px;
    justify-content: space-between;
    padding: 20px;
    border-radius: 25px;
    background: rgba(219, 219, 219, .9);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.9));
}
.informationLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}
.idCustomer{
    color:rgba(0, 0, 0, 0.6);
}
.clientName{
    font-weight: bold;
}
.addressLine{
    border: 1px solid rgba(0, 0, 0, .3);
}

.addressList{
    display: none;
}

.spanHide{
    display: none;
}
.emailContainer{
    font-size: 12px;
}
.emailLine{
    margin: 0;
}
.btnSpan{
    cursor: pointer;
}
