#table{
    /* color: #fff; */
    display: flex;
    margin: 100px 0 0 0;
    flex-direction: column;
    align-items: center;
}
.productCard{
    display: flex;
    width: 80%;
    min-width: 750px;
    height: 300px;
    background: rgb(254, 220, 86);
    margin: 20px;
    padding: 15px;
    border-radius: 13px;
    flex-direction: row;
}
.productImage{
    min-width: 300px;
    width: 300px;
    height: 300px;
    border-radius: 13px;
    margin: 0 20px 0 0;
    background: #fff;
}

.productInfo{
    width: 100%;
    margin: 5px 15px;
}

.productNameContainer{
    /* height: 30%;
    display: flex;
    flex-direction: column; */
}
.productName{
    font-size: 70px;
    /* font-size: auto; */
    /* font-size: 100%; */
    margin: 0 0 0 15px;
}

.productLine{
    border: 1px solid rgba(0, 0, 0, .4);
    width: 100%;
}

.invetoriContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.estoqueTitle{
    font-size: 30px;
}

.typeProduct{
}
.cardLine{
    display: flex;
    flex-direction: row;
}

.productInformation{
    font-size: 23px;
    margin: 3px 10px;
}

.productPrice{
    color: #fff;
    background: rgb(111, 56, 87);
    padding: 5px;
    border-radius: 7px;
}
.productEditBtn{
    color: #fff;
    background: blue;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}

.inventoryInformation{
    padding: 10px;
}

.priceLine{
    justify-content: right;
}
