#table{
    display: flex;
    margin: 100px 0 0 0;
    flex-direction: column;
    align-items: center;
}
.productCard{
    display: flex;
    width: 90%;
    height: 300px;
    background: rgba(219, 219, 219, .9);
    margin: 20px;
    padding: 15px;
    border-radius: 13px;
    flex-direction: row;
}
.productImage{
    min-width: 300px;
    width: 300px;
    height: 300px;
    border-radius: 13px;
    margin: 0 20px 0 0;
    background: #fff;
}

.productInfo{
    width: 100%;
    margin: 5px 15px;
}

.productName{
    font-size: 90px;
    margin: 0 0 0 15px;
}

.productLine{
    border: 1px solid rgba(0, 0, 0, .4);
    width: 100%;
}
