#table{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 20px 30px;
    padding: 10px 0;
    background: rgba(165, 165, 165, 0.7);
    justify-content: center;
    border-radius: 20px;
}
#formCadastroProduct{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.formLine{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px 0;
}
.formInput{
    font-size: 25px;
    width: 100%;
    height: 30px;
    padding: 10px 20px;
    border-radius: 13px;
    border: 2px rgb(122, 122, 122) solid;
    margin: 0 7px;
    background: #fff;
}
input[type="file"]{
    display: none;
}
#productImagePreview{
    cursor: pointer;
    width: 20%;
    max-height: 200px;
    padding: 15px;
    border: 2px rgb(122, 122, 122) solid;
    border-radius: 23px;
    background: #fff;
}
#productInfoBox{
    width: 70%;
    flex-direction: column;
    justify-content: space-around;
}

/* .formSubTitle{
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    margin: 0 0 0 30px;
} */


input[type=radio]{
    display: none;
}
input[type=radio]:checked + label{
    background: rgba(111, 56, 87, 1);
    color: #fff;
    border-color: rgba(111, 56, 87, 1);
}
#btnSubmit{
    border: 1px inline #fff;
    background: rgba(111, 56, 87, 1);
    color: #fff;
    padding: 30px 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
}
#btnSubmit:hover{
    background: rgb(158, 79, 124);
}

.radioBox{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.medida{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.radioBtn{
    width: auto;
    margin-top: 5px;
}
.titleRadio{
    margin: 0 0 0 15px;
    color: #3f3f3f;
}


#money{
    /* border-right: none; */
    border-radius: 13px 0 0 13px;
    margin-right: 0;
    width: min-content;
}
#productPrice{
    border-left: none;
    border-radius: 0 13px 13px 0;
    margin-left: 0;
    width: 20%;
}
/* #productName{
    width: 100%;
} */
