/* Definição da tabela de Pedidos */
#table{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    margin: 30px 20px;
    padding: 60px 0 0 0;
}

/* Definição IDs e Classes dos cards da dashboard */
.card{
    width: auto;
    margin: 10px;
    justify-content: space-between;
    padding: 20px;
    border-radius: 25px;
    background: rgba(219, 219, 219, .9);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.9));
}
.informationLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}
.idCustomer{
    color:rgba(0, 0, 0, 0.6);
}
.clientName{
    font-weight: bold;
}

#changeDirection{
    display: none;
}