/* Definição global */
*{
    padding: 0;
    margin: 0;
}

/* Definição global para as tags HTML */
body{
    display: flex;
    flex-direction: row;
    background: #939393 url(../img/background.png) no-repeat fixed;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
header{
    height: 80px;
    position: fixed;
    width: 100%;
    background: rgb(254, 220, 86);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.9));
    z-index: 2;
}
hr{
    border: solid 3px rgb(111, 56, 87);
}

/* Definição IDs e Classes do header */
.topBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
#logoTitle{
    height: 80px;
}
.accountOpitions{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 5px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: .10s ease all;
}
.accountOpitions:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(111, 56, 87);
    font-size: 17px;
    font-weight: bold;
    transition: .10s ease all;
}

/* Definição IDs e Classes da session */
.session{
    display: flex;
    position: fixed;
    margin: 86px 0 0px 80px;
    padding: 14px 0 10px 20px;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 83%, rgba(255, 255, 255, .7), rgba(255, 255, 255, .8));
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.9));
}
#newOrder{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 37px;
    border-radius: 15px;
    background: rgb(111, 56, 87);
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.9));
    margin-right: 120px;
}
#newOrder:hover{
    background: rgba(111, 56, 87, .7);
}
/* Definição IDs e classes dos botoes para alterar direção do painel */
#changeOrderDirection{
    display: flex;
}
.subTitle{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.fa-list-ul, .fa-th{
    padding: 3px 7px;
    border-radius: 10px;
}
.fa-list-ul:hover, .fa-th:hover{
    background: rgb(206, 206, 206);
}

/* Definição ID e Classes do dashboard */
#dashboard{
    padding-top: 100px;
    margin-left: 80px;
    width: 100%;
}
#orderTable{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 20px;
    padding: 60px 0 0 0;
}
/* Definição IDs e Classes dos cards da dashboard */
.cardOrderStatus{
    width: 300px;
    margin: 10px;
    justify-content: space-between;
    padding: 20px;
    border-radius: 25px;
    background: rgba(219, 219, 219, .9);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.9));
}
.orderInformationLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}
.idOrder{
    color:rgba(0, 0, 0, 0.6);
}
.clientName{
    font-weight: bold;
}

/* Definição IDs e Classes da taskbar */
#taskBar{
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100%;
    width: 80px;
    background: rgb(254, 220, 86);
    margin-top: 86px;
    filter: drop-shadow(2px 4px 4px rgba(44, 44, 44, 0.9));
    z-index: 1;
}
#options{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-size: 20px;
}
.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80px;
    height: 70px;
    color: rgb(0, 0, 0);
}
.option:hover{
    color: rgb(255, 255, 255);
    width: 200px;
    border-radius: 0 40px 40px 0;
    background: rgb(111, 56, 87);
    flex-direction: row;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.9));
}
.optionIcon{
    width: 30px;
    display: flex;
    justify-content: center;
}
.option:hover > .optionIcon{
    margin-left: 25px;
}
.descrition{
    display: none;
}
.option:hover > .descrition{
    margin-right: 30px;
    transition: all 10s;
    display: flex;
}