#table{
    margin: 100px 0 0 0 ;
}
#formNewOrder{
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
#consumerInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.formLine{
    width: 100%;
    display: flex;
    margin: 5px 0;
}
.formInput{
    width: 100%;
    margin: 0 7px;
    height: 30px;
    border-radius: 13px;
    padding: 10px 20px;
    font-size: 25px;
    border: 2px rgb(122, 122, 122) solid;
}
#searchCustomers{
    padding: 25px 20px;
}
#confirm{
    width: 20%;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border: inset #939393;
    border-radius: 13px;
    background:rgba(156, 39, 173, 1);
}
